# Python cache
__pycache__/
*.pyc
*.pyo

# Env files
*.env
*.env.*     # مثل .env.local یا .env.datax

# Config / credentials
*.json
*.sh
*.ps1

# Text dumps
*.txt

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
