# Python cache
__pycache__/
*.pyc
*.pyo
.venv

# Env files
*.env
*.env.*
client_secret.json
# Config / credentials
*.json
*.sh
*.ps1

# Text dumps
*all_code.txt

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

