# LangChain ecosystem
langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-openai==0.3.30
langchain-huggingface==0.3.1
langchain-tavily==0.2.11
langgraph==0.6.5

# FastAPI & web
fastapi
uvicorn[standard]==0.35.0
fastapi-sessions
fastapi-redis-session

# Auth & security
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.3.0
python-multipart==0.0.20
python-dotenv==1.1.1
itsdangerous==2.2.0

# Database
pymongo==4.14.0

# Validation & models
email-validator==2.2.0
pydantic==2.11.7

# ML / NLP
sentence-transformers==5.1.0
regex==2025.7.34

# Google APIs
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
google-api-python-client==2.179.0

# Storage
minio==7.2.16
